body{
	font-family:helvetica;
	background-color: lightblue;
	color:black;
}
h1{
	color:navy;
	margin-left:100px;
}
th{
color:green
}
td{
	font-family:courier;
}
h2{
	font-size:160%;
	font-family:copperplate;
}
p{
	color:red;
}

	